{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Awest - {{ pagetitle }}</title>
            <link rel="icon" sizes="32x32"  type="image/png" href="{% static 'images/favicon.png' %}" />
            <meta name="description" content="Personal website and portfolio of Alexander Westerlund AKA Strongdoctor.">
            <link media="screen, projection" rel="stylesheet" href="{% static 'css/stylesheets/screen.css' %}" type="text/css">
            <link media="print" rel="stylesheet" href="{% static 'css/stylesheets/print.css' %}" type="text/css">
            <!--[if IE]>
                <link rel="stylesheet" href="{% static 'css/stylesheets/ie.css' %}">
            <![endif]-->
            <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="container">
            <nav>
                <ul id="mainmenu">
                    <li>
                    	<a {% if request.path == "/" %} class="current" {% endif %} href="/">home</a>
                    </li>
                    <li>
                    	<a {% if request.path == "/contact" %} class="current" {% endif %} href="contact">contact</a>
                    </li>
                </ul>
                <ul id="socialmenu">
                    <li><a href="https://steamcommunity.com/id/strongdoctor"><i class="fa fa-steam"></i></a></li>
                    <li><a href="http://www.last.fm/user/strongdoctor"><i class="fa fa-lastfm"></i></a></li>
                    <li><a href="https://twitter.com/Strongdoctah"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/alexander-westerlund-19b6a483/"><i class="fa fa-linkedin-square"></i></a></li>
                </ul>
            </nav>
            <header>
                {% block header %}
                {% endblock %}
            </header>

            <main>
                {% block main %}
                {% endblock %}
            </main>
        </div>
    </body>
</html>
