{% extends 'homepage/base.html' %}
{% load staticfiles %}

{% block header %}
    <h1>Contact me</h1>
{% endblock %}

{% block main %}
<div>
	<p style="font-size:11pt; max-width: 100%;">Feel free to contact me through any social media, some of which you can find in the upper right of this site!</p>
</div>
{% comment %}
    {{ form.non_field_errors }}
    {% if contactsuccess %}<div id="successmessage">Thank you for your message!</div>{% endif %}
    <form id="contactform" method="post">
        {%csrf_token %}
        {{ form.as_p }}
        <p><button type="submit">Send</button></p>
    </form>

   	
   	<div id="pgp-public-key">
   		<h3>Public PGP key:</h3>
   		<div><a href="https://en.wikipedia.org/wiki/Pretty_Good_Privacy">What is this? (Wikipedia)</a></div>
<pre>-----BEGIN PGP PUBLIC KEY BLOCK-----
mQENBFhG6u8BCADUKjROKrS+BmXKNq8LwLTgrIDD9WXwIOv0+2dHBa/80ZaNImhe
ggsqOnBpSsa1OCCLsBX5408FSUgI5iBoAf0pMyBYRehYs0X2138SKmLrN3xoYuwc
NQCtl7f4SI+8v8rd4gJ8tWMFw6DBkvW9+u4AZ3p+IxsZ4nMrvL+2jXgffLGKSJgK
Al95fdLXRvesF8yBYKLySvB1Pdtq6nGHsMg32JtqoH46QaYAwSlBkxZ4g41WYjAk
4DJRw249Vm00UNuSJqn1NOx0BVQ/H8huix6TvOuAuuZDKIwGhmKfayGVdnD/M8wk
LO+X7/OLxZ6t9kvNNHoQAQC8BfG9Jyo5mAsTABEBAAG0LEFsZXhhbmRlciBXZXN0
ZXJsdW5kIDxzdHJvbmdkb2N0b3JAbGl2ZS5jb20+iQE5BBMBCAAjBQJYRurvAhsD
BwsJCAcDAgEGFQgCCQoLBBYCAwECHgECF4AACgkQ6rJ/VH7vcGZXawf/aSEBGhjq
x4QxQS8hxi2WHoJ7R6iUlf7OHtUGv83/JfpnjpxH4jZTM60ZS+yJsAKl8TYZI0g4
PvVRoP3SRNg76OFBvVmhhryjF/69wZWhcvsznNajgUdqCykmDcJGzka0Rp3+/EIb
22hSiSclAY3vFmm8VwLwd4LOKyyYAKuidhrELfB34zkQrSL6xbP5BJZkPEMaZB9O
5+/YqXazheOmdjggHCEkp3+PWgh+zcJ73PCWW3ajeQFjyABkKNBn40BV72K9Ez+b
bLsX4Ppfc4m3e/0x4InsUT/sGpHPlJqu3HLcVUftJSuu90m5ewpkGIeLt1fGjiqj
ocRXS7HnYNcZC7kBDQRYRurvAQgAsdBrDK3ol+T2oslxg3fLa/RykkzMlPlY2PyK
5D2MODI8Jhe0+uao1mcH2UE0r1LFInuEvd49Ht68fVKj77dgE95HEDUzwRBtLWgT
sFcM00lhjjwVeYm7R0inEXAXVjpqlwvslhDtJ0zJN6Rxq6kcKi8Pf2SmG4WLWcvV
GSp8A0FtJxfgkyyo41jzjE/66X5KBUiRzsZQqGiWjVBJWSYAYPLcL53fbfI4qlKU
W0JqQDOb8CKmZvcupgKjO9JoL4yrPRFoUOlfCvLLDoB/CWxwh0zGNxRpMMtY6kci
QM4RryxlHatZTWVWxRN/tynL71T8iljNY/r9v3+/J5YDnUbJDwARAQABiQEfBBgB
CAAJBQJYRurvAhsMAAoJEOqyf1R+73BmvKsIALKnLBP5sPEz/0MUnbskxAOnvhYa
xJf37q2w0L/4Zr4NX2OWoXT4W8rQEXyix2lX2sl4uc09By2XYZe4hYb0sB0dHq3F
y17qDajwpgT1JXUhMYF/J/yoR8t9OycOM2zqmJC1Gar80LsFlOK3zuTkLdOqPkbJ
qm66lWyMSLjzzmbJG0rixx1FbePzg9BpgE5YAOFFXMOPc+XqPvSdY0/lqb9BI8mS
g4+klwFKH882tcwqq9ntKWUfFXxjFHLg3yJT5gu+rF2cCzVoNoJn427wp5F/QC+7
en3vZGZP0pIOmMIbEtaezlAce5TKGf+WX5xaSIRL4KxtCiH1e5ASUjKf7/U=
=lnho
-----END PGP PUBLIC KEY BLOCK-----
</pre>
	</div>
{% endcomment %}
{% endblock %}
