{% extends 'homepage/base.html' %}
{% load staticfiles %}
{% load static %}

{% block header %}
    <div id="profilepic" style="background-image: url('{% static 'images/profilepic.jpg' %}')"></div>
{% endblock %}

{% block main %}
    <h1>Alexander Westerlund</h1>
    <p>CompSci student at Åbo Akademi University(ÅAU) in Turku, Finland.</p>
    <br>
    <p>I'm a hobbyist programmer always on the lookout for opportunities.</p>
    <br>
    <h1 class="projects-header">Projects</h1>
    <div id="projects">
    {% for project in projects %}
        <a href="{{ project.location }}" class="project" 
        style="background-image:url('{% get_media_prefix %}{{ project.image }}')">
            <div class="projectoverlay">
                <h3>{{ project.title }}</h3>
                <p>{{ project.description | safe}}</p>
                <div class="tags">
                    {% for tag in project.tags_as_list %}
                        <div class="tag">{{ tag }}</div>
                    {% endfor %}
                </div>
            </div>
        </a>
    {% endfor %}
    </div>
{% endblock %}
