$red : #EC4141;
$green : #47ed49;
$white : #EAEAEA;
$grayLight : #3A3A3A;
$grayDark : #333333;
$grayDarker : #222222;
$fontHeader : 'Amaranth', sans-serif;
$fontBody : 'RobotoSlab-Regular', serif;

body {
    background: $grayLight;
}

h1.projects-header {
    padding-top: 100px;
}


#container > * {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1100px;
    text-align: center;
}

#mobilemenu {
    font-size: 16pt;
    color: $red;
    display: none;

    &:hover {
        cursor: pointer;
    }
}

nav {
    position: relative; //For the animation
    padding-top: 10px;
    margin-bottom: 80px;
    height: 35px;
    text-align: center;
    font-size: 0;

    ul {
        li {
            display: inline-block;
            a {
                color: $white;
                display: inline-block;
                position: relative;
                line-height: 35px;
                height: 100%;
                padding: 0 7px;
            }
        }

        &#mainmenu {
            float: left;
            li {
                text-transform: uppercase;

                &:first-child {
                    margin-left: 10px;
                }
                &:not(:first-child) {
                    margin-left: 7px;
                }

                a {
                    font-family: $fontHeader;
                    font-size: 13pt;
                    letter-spacing: 2px;
                    text-decoration: none;
                    padding: 0 7px;
                    vertical-align: middle;
                    -webkit-transform: translateZ(0);
                    transform: translateZ(0);
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    transition: all 0.15s;

                    &.current {
                        color: $red;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        z-index: -1;
                        left: 100%;
                        right: 0;
                        bottom: 0px;
                        background: $red;
                        height: 2px;
                        transition: all 0.15s;
                    }


                }

                &:hover {
                    a {
                        color: $red;

                        &::before {
                            left: 0;
                        }
                    }
                }
            }
        }

        &#socialmenu {
            float: right;
            li {
                &:flast-child {
                    margin-right: 10px;
                }

                a {
                    font-size: 16pt;
                    border-radius: 35px;
                    transition: all 0.15s;
                    height: 35px;
                    width: 35px;
                    padding: 0;

                    &:hover {
                        color: $grayLight;
                        background: $red;
                    }
                }
            }
        }
    }
}

header {
    #profilepic {
        width: 300px;
        height: 300px;
        border-radius: 300px;
        margin: 0 auto;
        background-position: center center;
        background-size: 100%;
        border: 2px solid $white;
    }
}

main, footer {
    text-align: center;
    font-family: $fontBody;
}

main {
    padding: 25px 0;
    font-size: 16pt;
    color: $white;

    p {
        line-height: 18pt;
        font-size: 13pt;
        font-family: $fontBody;
        max-width: 600px;
        margin: 0 auto;
    }

    a#cv {
        display: inline-block;

        margin-top: 10px;
        padding: 10px;

        border-radius: 5px;
        border: 2px solid $red;

        background: transparent;
        color: $red;

        font-size: 13pt;
        text-decoration: none;

        transition: all 0.01s;

        &:hover {
            background: $red;
            color: $grayDark;
        }
    }

    #projects {
        font-size: 0;
        display: inline-flex;
        justify-content: center;
        flex-flow: row wrap;
        width: 100%;

        h1 {
            padding: 100px 0 20px 0;
        }

        .project {
            box-sizing: border-box;
            text-align: left;
            text-decoration: none;
            color: $white;
            vertical-align: top;
            margin: 10px;
            background-size: 100% 100%;
            box-shadow: inset 0 3px 15px -5px #000;
            border-radius: 5px;

            .projectoverlay {
                display: grid;
                padding: 15px;
                width: 300px;
                height: 200px;
                opacity: 0;
                transition: all 0.05s;
                background: rgba(0,0,0,0.8);
                text-shadow: 1px 1px 0px rgba(0,0,0,0.8);
                box-sizing: border-box;
                border-radius: 5px;
                text-align: center;

                h3 {
                    color: $red;
                    font-size: 16pt;
                }

                p {
                    font-size: 13pt;
                    line-height: 110%;
                }

                &:hover {
                    opacity: 1;
                    box-shadow: 0 0 4px $red;
                }

                .tags {
                    .tag {
                        padding: 5px;
                        background: rgba(0,0,0,0.5);
                        border-radius: 3px;
                        display: inline-block;
                        margin: 3px;
                        text-shadow: 0 1px 1px #000;
                        font-size: 12pt;
                        box-shadow: 0 0 1px 1px rgba(96,96,96,0.8);
                    }
                }
            }


        }
    }
}

footer {
    hr {
        border: none;
        width: 300px;
        height: 1px;
        background: rgba(255,255,255,0.3);
    }

    p {
        padding: 10px 0;
        font-size: 12pt;
        color: rgba(255,255,255,0.3);
    }
}

@media (max-width: 600px) {
    #container {

        nav {
            display: inline-block;
            ul {
                text-align: center;
                margin: 0 15px;

                &#mainmenu {
                    float: none;
                    li {
                        margin: 0;
                        &:first-child {
                            margin: 0;
                        }

                        a {
                            font-size: 16pt;
                        }
                    }
                }

                &#socialmenu {
                    li {
                        a {
                            font-size: 20pt;
                        }
                    }
                }

                &#socialmenu {
                    float: none;
                }
            }
        }
    }

    main {
        #projects {
            .project {
                .projectoverlay {
                    opacity: 1;
                }
            }
        }
    }
}

h1 {
    font-family: $fontHeader;
    letter-spacing: 1px;
    color: $red;
    font-size: 24pt;
}

#contactform {
    max-width: 450px;
    margin: 0 auto;

    input, textarea, button {
        font-family: $fontBody;
        transition: all 0.15s;
        box-sizing: border-box;
        border: 1px solid rgba(236, 65, 65, 0);
    }

    button {
        padding: 7px 40px;
        background: $red;
        border-radius: 5px;
        cursor: pointer;
        font-size: 12pt;
        letter-spacing: 1px;
        margin-top: 10px;
        box-shadow: 0 3px 0 #B02C2C;

        &:hover {
            box-shadow: none;
            background: #B02C2C;
            margin-top: 13px;
            margin-bottom: -3px;
        }
    }

    label {
        text-align: left;
        font-size: 13pt;

        &[for="id_captcha"] {
            display: none;
        }
    }

    input, textarea {
        font-size: 12pt;
        background: $grayDark;
        padding: 5px;
        display: block;
        border-radius: 5px;
        width: 100%;
        color: $white;
        margin-bottom: 15px;

        &:focus {
            border: 1px solid rgba(236, 65, 65, 1);
            box-shadow: 0 0 5px 2px #D73E3E33;
            outline: transparent;
        }
    }

    textarea {
        height: 200px;
        resize: none;
    }

    .g-recaptcha {
        height: 78px;
        display: inline-block;
        background: rgb(34,34,34);
        border-radius: 3px;
    }


}

.errorlist {
    padding: 10px 0;
    color: $red;
}

#successmessage {
    color: $green;
}

.errorlist, #successmessage {
    text-shadow: 0 1px 1px black;
}


#pgp-public-key {
    margin-top: 30px;
    display: block;

    a {
        color: $red;
        font-size: 11pt;
        text-decoration: none;
    }

    pre {
        display: inline-block;
        font-size: 9pt;
        font-family: monospace;
        padding: 5px;
        background: $grayDark;
    }
}

@media screen and (max-width: 768px) {
    #pgp-public-key {
        pre {
            font-size: 2.1vw;
        }
    }
}